

footer {
	@include clearfix;
	@include padding;
	position: relative;
	color: black;
	line-height: 1.3em;

	margin-top: 120px;

	@include respond-to( 360px ) {
		margin-top: 180px;
	}

	@include respond-to( 450px ) {
		margin-top: 220px;
	}

	@include respond-to( $bp-s ) {
		margin-top: 300px;
	}

	@include respond-to( $bp-m ) {
		margin-top: 350px;
	}

	@include respond-to( $bp-l ) {
		margin-top: 400px;
	}

	@include respond-to( $bp-xl ) {
		margin-top: 500px;
	}

	@include respond-to( $bp-xxl ) {
		margin-top: 600px;
	}

	&:before {
		position: absolute;
		background: url(../img/skyline.svg) bottom center no-repeat;
		z-index: 1;
		background-size: contain;
		content: '';
		top: -120px;
		height: 120px;
		width: 100%;
		left: 0;
		right: 0;

		@include respond-to( 360px  ) {
			height: 180px;
			top: -180px;
		}

		@include respond-to( 450px  ) {
			height: 220px;
			top: -220px;
		}

		@include respond-to( $bp-s ) {
			height: 300px;
			top: -300px;
		}

		@include respond-to( $bp-m ) {
			height: 350px;
			top: -350px;
		}

		@include respond-to( $bp-l ) {
			height: 400px;
			top: -400px;
		}

		@include respond-to( $bp-xl ) {
			height: 500px;
			top: -500px;
		}

		@include respond-to( $bp-xxl ) {
			height: 600px;
			top: -600px;
		}
	}

	a {
		color: black;
		text-decoration: none;
		border-bottom: 1px dotted rgba( black, .5 );
		transition: all 400ms ease-in-out;

		&:hover {
			color: $teal;
			border-bottom: 1px dotted black;
			text-decoration: none;
		}
	}

	.copyright {
		color: rgba( black, .6 );
	}

	@include respond-to( $bp-m ) {
		display: flex;
		align-items: center;

		.column {
			flex: 1;

			&:first-child {
				flex: 0 0 50%;
			}
		}
	}

	.column {
		padding: 10px 0;

		&.logos {
			img {
				max-width: 350px;
			}
		}

		&.address {
			font-size: .9em;
		}

		&.map {
			border-radius: 15px;
			overflow: hidden;

			iframe {
				display: block;
			}
		}
	}

}

