
.skyline {
	position: relative;
	z-index: 1;
	margin-top: 20px;
}

footer {
	@include clearfix;
	position: relative;
	color: black;
	line-height: 1.3em;
	padding: 10% 6%;
	
	@include respond-to( $bp-m ) {
		padding: 3% 5%;
	}

	a {
		color: black;
		text-decoration: none;
		border-bottom: 1px dotted rgba( black, .5 );
		transition: all 400ms ease-in-out;

		&:hover {
			color: $teal;
			border-bottom: 1px dotted black;
			text-decoration: none;
		}
	}

	.copyright {
		color: rgba( black, .6 );
	}

	@include respond-to( $bp-m ) {
		display: flex;
		align-items: center;

		.column {
			flex: 1;

			&:first-child {
				flex: 0 0 40%;
			}

			&.social {
				flex: 0 0 8%;
				padding: 0 1%;
			}
		}
	}

	.column {
		padding: 10px 0;

		&.logos {
			img {
				max-width: 350px;
			}
		}

		&.address {
			font-size: .9em;
		}

		&.map {
			border-radius: 15px;
			overflow: hidden;

			iframe {
				display: block;
			}
		}

		&.social {
			text-align: center;

			a {
				border: 0;
				opacity: .7;
				margin: 0 3px;

				&:hover {
					opacity: 1;
				}
			}

			img {
				max-width: 50px;
			}
		}
	}

}

