

$bp-menu: 880px;

header {
	position: relative;
	border-bottom: 35px solid $teal;

	@include respond-to( $bp-menu ) {
		height: 195px;
	}

	@include respond-to( $bp-l ) {
		height: 220px;
	}

	@include respond-to( $bp-xl ) {
		height: 265px;
	}

	.logo {
		position: relative;
		z-index: 2;
		padding: 20px 5%;
		margin-right: 50px;

		@include respond-to( $bp-s ) {
			max-width: 400px;
		}

		@include respond-to( $bp-menu ) {
			margin-right: 0;
			max-width: 100%;
		}

		@include respond-to( $bp-xl ) {
			padding: 30px 5%;
		}

		img {
			&.mobile {
				max-width: 250px;

				@include respond-to( $bp-menu ) {
					display: none;
				}
			}

			&.desktop {
				display: none;

				@include respond-to( $bp-menu ) {
					display: block;
					max-width: 120px;
					position: absolute;
					left: 50%;
					margin-left: -60px;
				}

				@include respond-to( $bp-l ) {
					max-width: 140px;
					margin-left: -80px;
				}

				@include respond-to( $bp-xl ) {
					max-width: 160px;
					margin-left: -80px;
				}
			}
		}
	}

	nav {
		@include clearfix;
		position: relative;

		button {
			position: absolute;
			right: 10px;
			top: -60px;
			width: 40px;
			height: 40px;
			border: 0;
			padding: 0;
			background: white;
			color: transparent;
			background: url(../img/icon-menu.png) center center no-repeat;
			overflow: hidden;
			text-indent: 1000px;
			
			@include respond-to( 400px ) {
				right: 20px;
			}

			@include respond-to( $bp-s ) {
				top: -75px;
			}

			@include respond-to( $bp-menu ) {
				display: none;
			}
		}

		.nav-menu {
			display: none;
			background: $navy;
			position: relative;
			z-index: 1;
						
			@include respond-to( $bp-menu ) {
				display: block;
				@include clearfix;
				background: transparent;
				text-align: center;
				padding: 20px 0;
			}

			@include respond-to( $bp-l ) {
				padding: 30px 0 20px;
			}

			@include respond-to( $bp-xl ) {
				padding: 40px 0 20px;
			}

			li {
				@include respond-to( $bp-menu ) {
					box-shadow: none;
					position: relative;
					display: inline-block;
					width: 150px;

					&:nth-child(3) {
						margin-left: 150px;
					}
				}

				@include respond-to( $bp-l ) {
					width: 180px;

					&:nth-child(3) {
						margin-left: 180px;
					}
				}

				@include respond-to( $bp-xl ) {
					width: 200px;

					&:nth-child(3) {
						margin-left: 20%;
					}
				}

				@include respond-to( $bp-xxl ) {
					width: 230px;

					&:nth-child(3) {
						margin-left: 22%;
					}
				}

				a {
					@include font-bold;
					display: block;
					padding: 15px 5px;
					font-size: 16px;
					line-height: 24px;
					color: white;
					text-decoration: none;
					text-transform: uppercase;
					width: 100%;
					transition: 400ms background-color ease-in-out;
					background-color: transparent;
					text-align: center;

					@include respond-to( $bp-menu ) {
						display: inline-block;
						padding: 15px 10px;
						color: $navy;
					}

					@include respond-to( $bp-l ) {
						font-size: 18px;
					}

					@include respond-to( $bp-xl ) {
						font-size: 20px;
					}

					@include respond-to( $bp-xl ) {
						font-size: 22px;
					}
				}

				&:hover, &.open {
					a {
						background-color: rgba( white, .2 );
					}

					ul.sub-menu {
						@include respond-to( $bp-menu ) {
							display: block;
						}
					}
				}

				ul.sub-menu {
					display: none;
					margin-bottom: 3px;
					box-shadow: 0 20px 20px $grey;
					opacity: .9;

					@include respond-to( $bp-menu ) {
						position: absolute;
						left: 0;
						top: 54px;
						width: 100%;
						background-color: $grey;
						@include clearfix;
					}

					li {
						display: block;
						width: 100%;

						a {
							font-size: 15px;
							line-height: 18px;
							display: block;
							padding: 10px 5px;

							@include respond-to( $bp-menu ) {
								padding: 10px;

								&:hover {
									background-color: $grey;
								}
							}

							@include respond-to( $bp-l ) {
								padding: 10px 15px;
							}
						}
					}
				}
			}
		}
	}

	.donate {
		padding: 20px 3% 20px 70px;
		background: $yellow;
		color: white;
		display: block;
		position: relative;
		text-transform: uppercase;
		@include font-bold;
		font-size: 20px;
		line-height: 20px;
		transition: opacity 400ms ease-in-out;

		&:hover {
			text-decoration: none;
			opacity: .8;
		}

		&:before {
			content: '';
			position: absolute;
			left: 20px;
			top: 50%;
			margin-top: -21px;
			width: 30px;
			height: 30px;
			background: white url(../img/icon-donate.svg) center center no-repeat;
			background-size: contain;
			border-radius: 50%;
			border: 6px solid white;
		}

		@include respond-to( $bp-s ) {
			position: absolute;
			top: 23px;
			right: 80px;
			border-radius: 30px;
			z-index: 3;

			&:before {
				left: 9px;
			}
		}

		@include respond-to( $bp-menu ) {
			top: -3px;
			right: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}