

// responsive mixin
@mixin respond-to( $breakpoint ) {
    @media only screen and ( min-width: $breakpoint ) { @content; }
}


// Clearfix mixin
@mixin clearfix {
	zoom: 1;

	&:before, &:after { 
		content: "";
		display: table;
	}

	&, &:before, &:after { clear: both; }
}


@mixin wrap( $max-width ) {
	max-width: $max-width;
	margin: 0 auto;
}


@mixin wrap-main {
	@include wrap( $bp-xl );
}


@mixin padding {
	padding: 10% 6%;
	
	@include respond-to( $bp-m ) {
		padding: 4% 5%;
	}
}

@mixin padding-no-bottom {
	padding: 10% 6% 0;

	@include respond-to( $bp-m ) {
		padding: 4% 5% 0;
	}
}

@mixin padding-no-top {
	padding: 0 6% 10%;

	@include respond-to( $bp-m ) {
		padding: 0 5% 4%;
	}
}

@mixin padding-side() {
	padding: 0 6%;

	@include respond-to( $bp-m ) {
		padding: 0 5%;
	}
}
