

.bubbles-container {
    padding: 3% 5%;
    background: $grey;

    @include respond-to( $bp-s ) {
        display: flex;
        flex-wrap: wrap;
        margin-right: -3%;

        .bubble {
            flex: 1 1 0;
            margin-right: 3%;
        }
    }

    @include respond-to( $bp-xxl ) {
        display: flex;
        flex-wrap: nowrap;
        margin-right: -2%;

        .bubble {
            margin-right: 2%;
        }
    }

    .bubble {
        position: relative;
        background: $navy;
        border-radius: 30px;
        margin-bottom: 35px;
        color: white;
        padding: 25px 30px;

        @include respond-to( $bp-m ) {
            padding: 100px 40px 45px;
        }

        &:before {
            content: '';
            background: url(../img/carat.svg) bottom right no-repeat;
            background-size: contain;
            position: absolute;
            bottom: -30px;
            height: 30px;
            width: 100px;
            right: 20px;
        }

        h3 {
            font-size: 2.5em;
        }

        p {
            padding: 8px 0;
        }

        .btn {
            margin-top: 10px;
            padding: 15px 30px;
            font-size: 1.3em;
        }
    }
}

