

.title {
    @include padding;
    background: $navy;
    color: white;

    h1, h2 {
        color: white;
    }

    .stars {
        background-image: url(../img/stars-yellow.svg);
    }

    &.yellow {
        background: $yellow;
        color: $navy;

        h1, h2 {
            color: $navy;
        }

        .stars {
            background-image: url(../img/stars-navy.svg);
        }
    }

    &.teal {
        background: $teal;

        .stars {
            background-image: url(../img/stars-navy.svg);
        }

        h1, h2 {
            color: $navy;
        }
    }

    @include respond-to( $bp-m ) {
        display: flex;
        align-items: center;

        .title-column {
            flex: 1;
        }
    }

    .return-link a {
        color: rgba( white, .7 );
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: .75em;

        &:hover {
            text-decoration: none;
        }
    }
}

